[submodule "external/micro-gl"]
	path = external/micro-gl
	url = git@github.com:micro-gl/micro-gl.git
[submodule "external/picolibc"]
	path = external/picolibc
	url = git@github.com:picolibc/picolibc.git
